body {
  background: #191765;
  color: white;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 0px 10%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrapper header nav {
  order: 1;
}

.wrapper header .logo {
  text-decoration: none;
  color: inherit;
}

.wrapper .headline {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper .headline .profile-name {
  font-size: 48px;
  color: #7d73fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .headline .position {
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .headline .supporting-text {
  line-height: 28px;
  font-size: 20px;
  color: #c8c8d4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 1000px) {
}
