body {
  background: #191765;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-image: url("images/ellipse.png");
  background-repeat: no-repeat;
  background-size: 184px;
  background-position: 2px 150px;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  order: 1;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrapper header nav {
  order: 1;
}

.wrapper .headline {
  order: 2;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper .headline .profile-name {
  font-size: 48px;
  color: #7d73fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .headline .position {
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .headline .supporting-text {
  line-height: 28px;
  font-size: 20px;
  color: #c8c8d4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 700px) {
  body {
    background-position-x: -90px;
  }
}

.wrapper .work {
  order: 4;
}

.wrapper .work h1 {
  color: #9490ff;
  font-size: 40px;
}

.wrapper .work .project-grid {
  margin-top: 50px;
  display: grid;
  grid-row-gap: 50px;
}

.wrapper .work .project-grid .project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .work .project-grid .project img {
  width: 327px;
  height: 236px;
}

.wrapper .work .project-grid .project .project-card h1 {
  color: white;
  font-size: 32px;
}

.wrapper .work .project-grid .project .project-card p {
  color: #dcdce8;
  line-height: 28px;
  font-size: 20px;
}

.wrapper .work .project-grid .project .project-card .tech-stack {
  margin: 6% 0% 6% 0%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.wrapper .work .project-grid .project .project-card .tech-stack div {
  text-align: center;
  padding: 3% 2% 3% 2%;
  border-right: 1px solid #555;
  border-left: 1px solid #555;
}

.wrapper .work .project-grid .project .project-card .tech-stack .tech1 {
  border-right: 1px solid #555;
  border-left: none;
}

.wrapper .work .project-grid .project .project-card .tech-stack .tech4 {
  border-right: none;
  border-left: 1px solid #555;
}

.wrapper .work .project-grid .project .project-card button {
  border: none;
  width: 89px;
  height: 48px;
  padding: 12px;
  font-size: 12px;
  color: #edecff;
  background-color: #9390ff;
}

.wrapper .about-me {
  margin: 50px 0 50px 0;
  order: 3;
}

.wrapper .about-me .skill-grid {
  margin: 0 5%;
  display: grid;
  grid-template-columns: auto auto;
}

.wrapper .about-me .socials {
  margin: 20px 0;
  text-align: center;
}

.wrapper .about-me .social {
  padding: 2%;
}
